* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: brown;
  height: 12vh;
  color: #f1f1f1;
  display: flex;
  align-items: center;
}

h1 {
  margin-left: 2%;
}

header a {
  text-decoration: none;
  font-size: 1rem;
  width: 100%;
}

.survey {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 1px solid black;
  height: 50vh;
  width: 55%;
  margin: 4% auto;
}

.choiceContainer {
  display: flex;  
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 50%;
}

.choiceBtn {
  padding: 12%;
}

.resultsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 55%;
  margin: 4% auto;
  border: 1px solid black;
}

img {
  width: 200px;
  margin-top: 2%;
}

.restaurant-details {
  display: flex;
  justify-content: space-between;
  width: 200px;
}
.resultsContainer p {
  font-size: 0.6rem;
  margin-top: 1%;
}


footer {
  background-color: brown;
  height: 10vh;
  color: #f1f1f1;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}